<p class='lead player-pos'>{{currentLevel.name}}: {{currentPlayer.name}} [{{currentPlayer.direction}}]({{currentPlayer.x}},{{currentPlayer.y}})</p>

<div class='player-health'>
  {{progress-bar current=currentPlayer.currentHealth max=currentPlayer.maxHealth}}
</div>

<button type='submit' class='btn btn-warning exit-game' {{action exitGame}}>
  Exit Game
</button>
