<p class='lead player-pos'>{{currentLevel.name}}: {{currentPlayer.name}} [{{currentPlayer.direction}}]({{currentPlayer.x}},{{currentPlayer.y}})</p>

<button type='submit' class='btn btn-warning exit-game' {{action exitGame}}>
  Exit Game
</button>
