<div class='row'>
  <div class='col-xs-12'>
    <h1>Level: {{name}}</h1>
    <h1>Width: {{width}}</h1>
    <h1>Height: {{height}}</h1>
    <h1>Player: {{currentPlayer.name}}</h1>
    <h1>X: {{currentPlayer.x}}</h1>
    <h1>Y: {{currentPlayer.y}}</h1>
    <button type='submit' class='btn btn-default' {{action exitLevel currentPlayer}}>
      Exit
    </button>
  </div>
</div>
