<div class="row">
  <div class="col-xs-12">
      <table class="table table-striped table-bordered">
        <tbody>
          <tr>
            <td>Selected Area</td>
            <td>Selected Player</td>
          </tr>
          <tr>
            <td>{{selectedArea.name}}</td>
            <td>{{selectedPlayer.name}}</td>
          </tr>
        </tbody>
      </table>
  </div>
</div>

{{select-one selectables=areas selected=selectedArea}}
{{select-one selectables=players selected=selectedPlayer}}

{{outlet}}
