<div class="row">
  <div class="col-xs-6">
    <div class="panel panel-default">
      <div class="panel-heading">Selected Area</div>
      <div class="panel-body text-center">
        {{#if selectedArea}}
          <p>{{selectedArea.name}}</p>
        {{/if}}
      </div>
    </div>

    {{select-one selectables=areas selected=selectedArea}}
  </div>

  <div class="col-xs-6">
    <div class="panel panel-default">
      <div class="panel-heading">Selected Player</div>
      <div class="panel-body text-center">
        {{#if selectedPlayer}}
          <p>{{selectedPlayer.name}}</p>
          <img {{bind-attr src="selectedPlayer.spritesheet.src"}}>
        {{/if}}
      </div>
    </div>

    {{select-one selectables=players selected=selectedPlayer}}
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <ul class="pager">
      <li class="next disabled">
        <a id="start-game" {{action "startGame"}}>Start &rarr;</a>
      </li>
    </ul>
  </div>
</div>
